.action-div {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.action-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}
.action-link {
    border: none;
    background: none;
    cursor: pointer;
}
.dot-true {
    height: 15px;
    width: 15px;
    background-color: #73B519;
    border-radius: 50%;
    display: inline-block;
}
.dot-false {
    height: 15px;
    width: 15px;
    background-color: #9B2B2B;
    border-radius: 50%;
    display: inline-block;
}
.nav-link {
    cursor: pointer;
    text-decoration: none;
}
