<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/static/js/incident.js/incident.js"></script>
</head>
<body>
    <div class="content">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">incident ref</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
            </tr>
            </tbody>
        </table>

        <table>

            <tr>
                <th>Id</th>
                <th>Ref</th>
            </tr>

            <tr th:each="incident : ${incidents}">
                <td th:text="${incident.id}">id</td>
                <td th:text="${incident.ref}">name</td>
                <td th:text="${incident}">price</td>
            </tr>

        </table>
    </div>
</body>
</html>